.home{
  justify-content: center;
}

.home-card .mdl-card__title{
  position: relative;
  height: 200px;
  overflow: hidden;
}

.home-card img{
  left: 0;
  max-width: 100%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

.home-card .mdl-card__title-text{
  position: relative;
  z-index: 5;
  padding: 5px 10px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
}

.home-card .mdl-card__supporting-text{
  width: 100%;
}

@media (max-width: 768px) {
  .home-card .mdl-card__title {
    height: 130px;
  }
}
