.mdl-progress {
  position: fixed !important;
  top: 0;
  width: 100%;
  z-index: 100;
}

.mdl-layout__header-row {
  padding-left: 20px;
}

.mdl-layout__header img {
  height: 45px;
  margin-top: 5px;
}
